body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: white;
    color: #777; 
    padding: 20px;
    text-align: center;
}

h1, h2 {
    margin: 10px 0;
    color: #2ecc71;
}

nav {
    background-color: darkseagreen;
    padding: 10px 20px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #2ecc71;
}

section {
    padding: 20px;
    text-align: center;
}

.city-info {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

footer {
    background-color: darkseagreen;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.image-gallery img {
    width: 300px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    float: left; /* Added floating */
    margin: 10px; /* Ensure proper spacing around floated images */
}

.image-gallery img:hover {
    transform: scale(1.1);
}

/* Clearing the float */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
